*{
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}
header h1{
    font-size: 55px;
    text-align: center;
}

#btn_iniciar_sesion{
    position: absolute;
    right: 10px;
    top: 20px;
} 

#btn_iniciar_sesion{
    padding: 10px 10px;
    margin: auto;
    width: auto;
    border: 0px;
    border-radius: 7px;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.3);
    display: block;
}

#btn_iniciar_sesion:hover{
    background-color: rgb(87, 87, 182);
    color: #fff;
    cursor: pointer;
    
}

.contenedor_caja_usuario{
    background-color: rgb(243, 199, 138);
    color: black;
    font-size: 16px;
    padding: 3px 16px;
    border-radius: 4px;
    margin: 7px 10px;
    top: 0px;
    position: absolute;
    right: 10px;
    display: none;
    
}
.contenedor_caja_usuario:hover{
    background-color: rgb(202, 166, 116);
    cursor: pointer;
}

body{
    margin: 0;
    background-color: rgb(51, 185, 62);
}

header{
    background-color: rgb(84, 84, 222);
    color: white;
    padding: 40px;
}

.container{
    width: max-content;
    margin-top: 80px;
    padding-left: 55px;
    border-radius: 6px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

.producto{
    margin-bottom: 20px;
    padding: 10px 10px;
    margin: 10px 10px;
    background-color: #f2f2f2;
    border-radius: 6px;
    transition: box-shadow 0.3s ease; /* demorabilidad de la cinematicas */
    cursor: pointer;

}

.producto:hover{
    box-shadow: 0 3px 12px rgb(112, 68, 68);
}
.producto h2{
    text-align: center;
}
.producto img{
    width: 190px;
}

footer{
    width: 100%;
    position: absolute;
    background-color: blue;
    color: #fff;
}

#contacto{
    position: absolute;
    right: 0;
}

#contacto img{
    margin: 7px 7px;
    width: 40px;
    margin-top: 10px;
}

.btn_detalle_carrito button{
    padding: 5px 5px;
    background-color: transparent;
    border-radius: 4px;
    cursor: grab;
    border: none;
}
#boton_detalles:hover{
    background-color: rgb(54, 167, 54);
    transition: background-color 0.4s ease;
}

#boton_carrito:hover{
    background-color: rgb(226, 226, 60);
    transition: background-color 0.4s ease;
}