/* el # se utuliza para un id en contexto*/
#titulo{
    color: chocolate;
}
/* p. se utiliza para las clases que contengan texto*/
p.texto{
    color: blue;
}

p.especial{
    color: mediumseagreen;
}
/* se utiliza para todos los parametros de div que contengan p*/
div p {
    color: brown;
}
/* se utiliza para todos los parametros de div que contengan h2*/
div h2, div h3{
    color: darkmagenta;
}

/* se utiliza para todos los parametros que no se han modificado*/
div.margen {
    font-size: 30px;
}

.color{
    /*color: #f00;          valor exagecimal*/
    /*color: rgb(0,255, 0); valor rgb*/
    /* border: 2px yellowgreen solid; */
    
    /*ESTILOS DE BORDER
    dotted
    dashed
    solid
    double
    groove
    ridge
    inset
    outset
    none
    hidden*/

    border-style: solid;    
    border-color: blue;
    border-radius: 8px;/*readius es para el borde de las esquinas*/
    border-width: 4px;/*width es para el tamaño del borde*/
}


#fondo{
    background-color: teal; /*aplica el color de fondo a la letra*/
    /* opacity: 0.7;transparencia a el elemento completo no solo al color sino tambien la letra o imagen */
    height: 300px;
    /*background-image:url("pantalos3.jpg") ;
    background-size: contain;contain se utiliza para que se adapte el tamaño de la imagen a la pagina
    background-repeat: no-repeat;no-repeat se utiliza para que la imagen no se repita*/
    background: red url("pantalos3.jpg") repeat-x center bottom / contain;
    
}

.margen{
    background-color: chocolate;
    /*      derecha,izquierda,abajo,arriba*/
    margin: 70px; /* margin añade un espacio sobre cualquier imagen o texto*/
    padding: 50px 50px 10px 40px;/* padding añade un espacio dentro de el mismo*/
    border: solid 3px black;
    height: 90px; /*alto*/
    width: 40px;/*ancho*/
    overflow: scroll;/*hidden todo el contenido que no alcance a mostrarse dentro del elemento lo ocualta*/
    /*scroll ventana movible*/
    outline: 1px solid green;  /*contorno de un elemento*/  
}

.text{
    font-family: 'Bebas Neue';/*fuente del texto*/
    text-align: center;/*alinear el texto*/
    font-size: 40px;
    color: blue;
    text-decoration: overline; /*decora el texto como subrayar, linea por debajo, por encima del texto*/
    text-shadow: 3px 5px 8px blue;/*sombra para el texto, derecha,abajo,opacidad*/
}

a:link{ 
    color: teal;
}

a:visited{ /*cuando el link ya ha sido visitado*/
    color: red;
}

a:hover{ /*cuando se pasa el mouse por el link*/
    color: yellow;
}

a:active{ /*es cuando da clic en el link*/
    color: palevioletred;
}

ul{
    background-color: blueviolet;
    list-style-type: none;/*sirve para quitar los puntos de la lista*/
    padding: 0; /*quita el espacio el espacio de los puntos*/
    /* list-style-position: inside;cambia la posicion de la letra cuando hay un salto de linea */
}

table{
    width: 100%;
    border-collapse: collapse;/*elimina la separacion de los bordes en la tabla*/
    
}

td,th{
    border: 3px double red;
    padding: 5px;
}

th{
    background-color: tomato;/*color subrayado*/
    color: blue;/*cambio el color de la fuente(letra)*/
    text-align: left;
}

tr:nth-child(even){ /*cambia los colores de la fila solo a los impares(even)*/
    background-color: #b1a7d8;
}

tr:hover{
    background-color: rgb(201, 160, 160);
    cursor: pointer;/*coloca el icono de seleccionar sobre el texto*/
}

span{
    display: block;/*salto de linea*/
    /* display: none;ocultar los elementos */
    /* visibility: hidden;oculta tambien los elementos */
    max-width: 700px;/*define el ancho maximo pero a la vez se adapta al tamaño de la ventana cuando el valor es minimo*/
    background-color: red;
}

.inline{
    display: inline;/*quita el salto de linea */
}

#posicion{
    position: fixed; /*define la posicion de un texto y dependiendo al tipo se puede dejar quieto en el encabezado*/
    left:0%; /*izquierda*/
    /* top: 25px; abajo */
    background-color: #b1a7d8;
    width: 900px;
}

.left{
    float: left;/*hace flotar el texto en la posicion de la izquierda*/
    width: 200px;
    height: 200px;
}
.right{
    float: right;
}
.container{
    height: 200px;/*altura*/
}

.card{
    border: dotted 1px darkgoldenrod;
    border-radius: 5px; /*tipo de radio*/
    margin: 8px; /*es la parte de afuera del borde lo que quiere que este apartado de lo demas*/
    padding: 4px; /*la parte interior del borde*/
    width: 2px;
}

.inline-block{
    display: inline-block;/* se les puede manus de navegacion*/
    height: 30px;
    background-color: blueviolet;
}

.center{
    padding: 40px;
    text-align: center; /*centra el texto  */
    width: 200px;
    margin: auto; /**/
    background-color: aqua;
}